#contribute p{
    background-color: var(--color-background);
    color: var(--color-foreground);
    border: 1px solid var(--color-foreground);
    padding: 2%;
    margin-top: 10px;
}

#markdown-container {
    padding: 2%;
    margin-top: 5%;
    background-color: var(--color-background);
    color: var(--color-foreground);
    border: 1px solid var(--color-foreground);
    transition: var(--transition);
}

#markdown-container :is(h1, h2, h3, h4, h5, h6){
    margin-top: 2%;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-foreground);
}

#markdown-container img {
    display: block;
    margin: 1% auto;
    max-width: 90%;
    border-radius: 5px;
}

#markdown-container :is(p, li) {
    font-size: 1.1em;
}

#markdown-container .codehilite {
    border-radius: 5px;
    padding: 2%;
    font-family: monospace;
    margin-top: 2%;
    margin-bottom: 2%;
}

#markdown-container pre {
    margin: 0;
}

#markdown-container code {
    border-radius: 4px;
    font-size: 0.9rem;
    padding: 0.1rem 0.4rem;
    font-family: monospace;
    background-color: var(--color-light-gray);
    color: var(--color-dark-gray)
}

#markdown-container .codehilite code {
    border-radius: 0;
    font-size: 1rem;
    padding: 0;
    font-family: monospace;
    background-color: var(--color-light-gray);
    color: var(--color-dark-gray)
}

#markdown-container .toc {
    display: none;
}

.index-container ul {
    list-style: none;
}

.index-container a {
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--color-foreground);
}

.index-container a:hover{
    font-weight: 700;
}

.index-container a::before {
    content: "- ";
}

.index-container {
    border: solid var(--color-foreground) 1px;
    padding-top: 20px;
    border-radius: 0 10px 10px 0;
    position: fixed;
    z-index: 2;
    height: 80%;
    top: 10%;
    left: 0;
    background-color: var(--color-light-gray);
    color: var(--color-foreground);
    overflow: auto;
    transition: 1s;
}

.math {
    white-space: pre;
    font-size: 1.3rem;
    background-color: var(--color-light-gray);
    font-family: monospace;
    padding-left: 2%;
    padding-bottom: 1em;
    margin-bottom: 15px;
    overflow-x: auto;
}

.math::first-line {
    line-height: 95%;
}

.math-jax {
    background-color: var(--color-light-gray);
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    overflow-x: auto;
}

.index-container.close {
    width: 0;
}
.index-container.open {
    width: 500px;
}

.arrow {
    writing-mode: tb-rl;
    text-orientation: upright;
    background-color: var(--color-foreground);
    color: var(--color-background);
    padding: 5px 2px 5px 15px;
    text-align: right;
    border-radius: 7%;
    transition: 1s;
    position: fixed;
    top: 50%;
    cursor: pointer;
    z-index: 1;

}

.arrow.close {
    left: -15px;
}

.arrow.open {
    left: 485px;
}

mjx-container[jax="CHTML"][display="true"] {
    overflow-x: auto;
}

.math-jax mjx-container {
    text-align: left !important;
    padding-left: 2%;
}

@media screen and (max-width: 800px){
    .index-container.open {
        width: 90%;
    }

    .arrow.open {
        left: calc(90% - 15px);
    }

}
