{% extends "layout.jinja" %}

{% block content %}

<div class="container">
    <a href="/admin/view_suchi_server_logs" class="m-3 btn btn-dark">Suchi Server Logs</a>
    <a href="/admin/view_categories" class="m-3 btn btn-dark">View Categories</a>
    <a href="/admin/create_category" class="m-3 btn btn-dark">Create Category</a>
    <a href="/admin/create_blog" class="m-3 btn btn-dark">Create Blog</a>
    <a href="/admin/create_project" class="m-3 btn btn-dark">Create Project</a>
    <a href="/admin/projects" class="m-3 btn btn-dark">Projects</a>
    <a href="/admin/messages" class="m-3 btn btn-dark">Messages</a>
    <a href="/admin/ip-logs" class="m-3 btn btn-dark">IP Logs</a>
    <a id='re-compute-markdown' data-dest="/admin/re_compute_markdowns" class="m-3 btn btn-dark">Re-Compute Markdowns</a>
    <a href="/admin/url-redirects" class="m-3 btn btn-dark">URL Redirects</a>
    <a href="/admin/view-external-messages" class="m-3 btn btn-dark">External Messages</a>
    <a href="/admin/server-commands" class="m-3 btn btn-dark">Server Commands</a>
    <a href="/admin/logout" class="m-3 btn btn-dark">Logout</a>

</div>

{% endblock content %}

{% block js %}
<script>
$('#re-compute-markdown').on('click', e => {
        e.preventDefault();
        if (confirm("Are you sure you want to recompute markdowns?")){
                window.location = e.target.getAttribute('data-dest');
        }
});
</script>
{% endblock js%}
