<table class='table table-striped'>
    <tbody id="table-body">
        <tr>
            <th>IP</th>
            <td>{{data.ip}}</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>{{data.url}}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{data.date}}</td>
        </tr>
        <tr>
            <th>Sec_ch_ua</th>
            <td>{{data.sec_ch_ua}}</td>
        </tr>
        <tr>
            <th>Mobile</th>
            <td>{{data.mobile}}</td>
        </tr>
        <tr>
            <th>Platform</th>
            <td>{{data.platform}}</td>
        </tr>
        <tr>
            <th>Referer</th>
            <td>{{data.reference}}</td>
        </tr>
        <tr>
            <th>User Agent</th>
            <td>{{data.user_agent}}</td>
        </tr>
    </tbody>
</table>