{% extends "layout.jinja" %}

{% block content %}
  <div class="container">

    <table class="table">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Keyword</th>
        <th scope="col">URL</th>
        </tr>
    </thead>
    <tbody>
        {% for url in urls.items %}
            <tr>
            <td>{{url.id}}</td>
            <td>{{url.keyword_in}}</td>
            <td>{{url.url_out}}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    <div class=pagination>
      {% for page in urls.iter_pages() %}
        {% if page %}
          {% if page != urls.page %}
            <a class="btn m-1 btn-primary" href="{{ url_for('admin.ip_logs', page=page) }}">{{ page }}</a>
          {% else %}
            <a class="btn m-1 btn-dark">{{ page }}</strong>
          {% endif %}
        {% else %}
          <span class=ellipsis>…</span>
        {% endif %}
      {% endfor %}
    </div>

    <div class="add-new">
      <form action="" method="post">
        <label for="keyword_in">Keyword</label><input name=keyword_in type="text"/>
        <label for="url_out">URL</label><input name=url_out type="text"/>
        <button class='btn btn-primary' type="submit">Add</button>
      </form>
    </div>
  </div>
{% endblock content %}
