{% extends "layout.jinja" %}

{% block headers %}
    <link rel="stylesheet" href="/static/styles/markdown.css">
    <link rel="stylesheet" href="/static/styles/pygmentize.css">
{% endblock headers %}

{% block content %}
<hr class="nav-separator">
  <section id=index>
      <div class="index-container close">
      </div>
      <span class='arrow close'>&#8250;</span>
  </section>
  <section id=blog>
  <div class=container>
    <div id="markdown-container">
      {{ blog_html }}
    </div>
  </div>
  </section>

{% endblock content %}

{% block js %}
<script>
  let images = $('img');
  let img = "";
  for(let i=0; i<images.length; i++){
    img = $(images[i]);
    if (!img.attr('src').includes('static'))
      img.attr('src', '/static/uploaded-data/' + img.attr('src'));
  }
</script>
<script src="/static/js/extract-index.js"></script>
<script src="/static/js/toggle-index.js"></script>
{% endblock js %}

