{% extends "layout.jinja" %}

{% block headers %}
    <link rel="stylesheet" href="/static/styles/markdown.css">
    <link rel="stylesheet" href="/static/styles/pygmentize.css">
{% endblock headers %}

{% block content %}
<hr class="nav-separator">
  <section id=index>
      <div class="index-container close">
      </div>
      <span tabindex="0" role="button" class='arrow close'>&#8250;INDEX</span>
  </section>

  <section id=blog>
  <div class=container>
    {% if blog.date_updated %}
      <span><strong>Last Updated:</strong> 
        <time class="utc-time" datetime="{{ blog.date_updated.isoformat() }}">Loading...</time>
      </span>
    {% endif %}
    <div id="markdown-container">
        {% if admin %}
            <a href="/admin/edit_blog/{{blog.id}}" class="">Edit</a>
        {% endif %}
      {{ blog_html }}
    </div>
  </div>
  </section>

  <section id="contribute">
    <div class="container">
        <p>
          Enjoy the notes on this website?
          Consider supporting me in this adventure
          in you preferred way: <a href="/support_me">Support me</a>.
        </p>
    </div>
  </section>

{% endblock content %}

{% block js %}
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    displayMath: [["$$", "$$"], ['\\[', '\\]']],
  }
};
</script>

<script id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>

<script>
  let images = $('img');
  let img = "";
  for(let i=0; i<images.length; i++){
    img = $(images[i]);
    if (!img.attr('src').includes('static') && !img.attr('src').includes('https'))
      img.attr('src', '/static/uploaded-data/' + img.attr('src'));
  }
  $('table').addClass('table table-striped');

  // update the time to be user time zone
  $('.utc-time').each(function() {
    var utcTime = $(this).attr('datetime');
    var localTime = new Date(utcTime);
    var formattedTime = localTime.toLocaleString('en-US', {
      year: 'numeric',
      month: '2-digit',
      day: '2-digit',
      hour: '2-digit',
      minute: '2-digit',
      hour12: true
    }) + " (local)";
    $(this).text(formattedTime);
  });

</script>
<script src="/static/js/extract-index.js"></script>
<script src="/static/js/toggle-index.js"></script>
{% endblock js %}

