{% extends "layout.jinja" %}

{% block headers %}
    <link rel="stylesheet" href="/static/styles/markdown.css">
{% endblock headers %}

{% block content %}
<hr class="nav-separator">
  <section id=blog>
  <div class=container>
    <div id="markdown-container">
      {{ blog_html }}
    </div>
  </div>
  </section>

{% endblock content %}

{% block js %}
<script>
  let images = $('img');
  let img = "";
  for(let i=0; i<images.length; i++){
    img = $(images[i]);
    if (!img.attr('src').includes('static'))
      img.attr('src', '/static/uploaded-data/' + img.attr('src'));
  }
</script>
{% endblock js %}

