{% extends "layout.jinja" %}

{% block headers %}
    <link rel="stylesheet" href="/static/styles/resources/create.css">
{% endblock headers %}

{% block content %}
  <section id=blogs class=''>

  <div class=container>
    <form class="mt-5" id="create-form" action="" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <div class="row m-3">
            {% if blog %}
                <a href="/resources/blog/{{blog.id}}" class="">View</a>
            {% endif %}
        </div>
        <div class="row m-3">
          <div class="col-1 text-right">
            <span>Title: </span>
          </div>
          <div class="col">
            {% if blog %}
                <input class="form-control" type="text" name="title" id="title-input" value="{{blog.title}}"> <br>
            {% else %}
                <input class="form-control" type="text" name="title" id="title-input"> <br>
            {% endif %}
          </div>
        </div>
        {% if blog %}
            <span>Brief: </span><br><textarea class="form-control" name="brief" id="brief-input" cols="50" rows="5">{{blog.brief}}</textarea> <br>
        {% else %}
            <span>Brief: </span><br><textarea class="form-control" name="brief" id="brief-input" cols="50" rows="5"></textarea> <br>
        {% endif %}
            <div class="row mt-3">
              <div class="col-3 custom-file">
              <input type="file" name="file[]" multiple="" class="custom-file-input" id='fileinput'>
              <input hidden type="file" name="file[]" multiple="" class="custom-file-input" id='fileinput'>
              </div>
              <div class="col">
              <button id="process-btn" class='btn btn-primary ml-5'>Process</button>
              </div>
            </div>
            <div class="files-container">
                <table class='table mt-2 mb-5'>
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">URL</th>
                    </tr>
                  </thead>
                  <tbody id='table-body'>
                  </tbody>
                </table>
            </div>
        {% if blog %}
            <span>Markdown: </span><br><textarea class="form-control" name="markdown" id="markdown-input" cols="50" rows="30">{{blog.markdown.replace("&", "&amp;")}}</textarea> <br>
        {% else %}
            <span>Markdown: </span><br><textarea class="form-control" name="markdown" id="markdown-input" cols="50" rows="30"></textarea> <br>
        {% endif %}

        {% if blog %}
            <select class="custom-select form-control form-control-lg" id="select-group"> <option selected>Choose...</option>
                {% for cat in categories %}
                    <option value="{{categories[cat]}}">{{cat}}</option>
                {% endfor %}
            </select>
        {% else %}
            <select class="custom-select form-control form-control-lg" id="select-group">
                <option selected>Choose...</option>
                {% for cat in categories %}
                    <option value="{{categories[cat]}}">{{cat}}</option>
                {% endfor %}
            </select>
        {% endif %}
        <input style="display:none;" type="text" name="category" id="category-input">
        <input style="display:none;" type="text" name="uuids" id="uuids-input">
      </div>
    </form>
    <button class="btn btn-lg btn-primary mt-4" id='submit-btn'>Submit</button>
  </div>
  </section>
{% endblock content %}

{% block js %}
<script type='text/javascript' src="/static/js/blog-create.js">
</script>
{% endblock js %}
