{% extends "layout.jinja" %}

{% block headers %}
    <link rel="stylesheet" href="/static/styles/resources/index.css">
{% endblock headers %}

{% block content %}

<div class="container">
    <hr class="nav-separator">
    <div class="button-list">
        <a href="/resources/categories"><div class="button-box">Categories</div></a>
        <a href="/resources/search"><div class="button-box">Search</div></a>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
</script>
{% endblock js %}
