{% extends "layout.jinja" %}

{% block headers %}
    <link rel="stylesheet" href="/static/styles/main.css">
{% endblock headers %}

{% block content %}
    <div class="bar stripes" data-drift-center="x" data-drift="-10 -10" style="transform: translateX(-50%) translate(-5.36585px, 0.426759px);"></div>
    <div class="container">
        <section class="landing">
        <div class="row full-height">
            <div class="s-col col-lg-6">
                <h6 class="animate__animated animate__fadeInUp">{{ ln.home.pre_title }}</h6>
                <h1 class="animate__animated animate__fadeInUp animate__delay-1s">{{ ln.home.title }}</h1>
                <div class="animate__animated animate__fadeInUp animate__delay-2s">
                    <span>{{ ln.home.sub_title_1 }}</span>
                    <span>{{ ln.home.sub_title_2 }}</span>
                    <span>{{ ln.home.sub_title_3 }}</span>
                </div>
                <a href="/resume" class="btn-custom btn-custom-sm resume default-button slide-left animate__animated animate__fadeInUp animate__delay-3s">{{ ln.common.resume }}</a>
            </div>
            <div class="s-col col-lg-6">
                <div id="suchi-image-container">
                    <picture>
                        <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 1000px)"> 
                        <img class="animate__animated animate__fadeIn" id="suchi-image" src="/static/assets/suchi.png" alt="Suchtih Sridar Image">
                    </picture>
                </div>
            </div>
        </div>
        </section>
        <div class="seperator"></div>
        <section class="about">
            <div class="dots-image"></div>
            <div class="row">
                <div class="col-lg-6 above-about">
                    <h2>
                        {{ ln.home.about_title }}
                    </h2>
                </div>
                <div class="col-lg-6 about-text">
                    <p class="align-self-center">
                        {{ ln.home.about_text }}
                    </p>
                </div>
                <div class="col-lg-6 below-about">
                    <h2 class="align-self-center">
                        {{ ln.home.about_title }}
                    </h2>
                </div>
            </div>
            <div class="row">
                <a href="/about" class="btn-custom btn-custom-sm default-button btn-about">{{ln.navbar.about}}</a>
            </div>
        </section>
        <div class="seperator"></div>

        {% include "main/skills-tabs.jinja" %}

        <div class="seperator"></div>

        <section class="end-buttons">
            <div class="row">
                <div class="col-md-4">
                <a href="/projects" class="btn-custom btn-custom-md default-button btn-projects">{{ln.navbar.projects}}</a>
                </div>
                <div class="col-md-4">
                <a href="/contact" class="btn-custom btn-custom-md default-button btn-contact">{{ln.navbar.contact}}</a>
                </div>
                <div class="col-md-4">
                <a href="/resources" class="btn-custom btn-custom-md default-button btn-documents">{{ln.navbar.docs}}</a>
                </div>
            </div>
        </section>

    </div>
{% endblock content %}