<section class="skills">
    <!-- Tab links -->
    <div class="row">
        <div class="col-sm-2">
            <div class="tab row">
                {% set flag = true %}
                {% for category in skills %}
                    {% if flag %}
                        <button id="defaultOpen" class="row tablinks" onclick="openSkill(event, '{{ category }}')">{{ category }}</button>
                        {% set flag = false %}
                    {% else %}
                        <button class="row tablinks" onclick="openSkill(event, '{{ category }}')">{{ category }}</button>
                    {% endif %}
                
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-10">
            <!-- Tab content -->
            {% for category in skills %}
                
                <div id="{{category}}" class="tabcontent row">
                    <h3 class="title">{{category}}</h3>
                    <ul class="skills-list">
                    {% for item in skills[category] %}
                        <li>{{item}}</li>
                    {% endfor %}
                    </ul>
                </div>
            
            {% endfor %}
        </div>
    </div>
    <script src="/static/js/skills-tabs.js"></script>
    <script>
        $( document ).ready(function() {
            $("#defaultOpen").click();
        });
    </script>
</section>