{% extends "layout.jinja" %}

{% block headers %}
<link rel="stylesheet" href="/static/styles/wip.css">
{% endblock headers %}

{% block content %}
<hr class="nav-separator">
<div class="wip container">
    <h6>
        This page is currently being worked on. Check back later.
   </h6>
</div>
{% endblock content %}