<!-- Footer section -->
<footer class="">
    <div class="container">
        <span class="icons">
            <a
            href="https://github.com/SuchithSridhar"
            target="_blank"
            class="fab fa-github"
            ></a>
            <a
            href="https://www.linkedin.com/in/suchithsridhar"
            class="fab fa-linkedin"
            target="_blank"
            ></a>
        </span>
        <p>{{ ln.home.footer_text }}</p>
        <p>{{ ln.home.footer_support }}</p>
    </div>
</footer>
