<!-- Footer section -->
<footer class="">
    <div class="container">
        <span class="icons">
            <a
            href="https://github.com/SuchithSridhar"
            target="_blank"
            class="fab fa-github"
            ></a>
            <a
            href="https://www.linkedin.com/in/suchithsridhar"
            class="fab fa-linkedin"
            target="_blank"
            ></a>
            <a
            href="https://www.facebook.com/suchith.sridhar/"
            class="fab fa-facebook"
            target="_blank"
            ></a>
            <a
            href="https://instagram.com/somethingsuchi"
            class="fab fa-instagram"
            target="_blank"
            ></a>
            <a
            href="https://www.twitter.com/suchithsridhar"
            class="fab fa-twitter-square"
            target="_blank"
            ></a>
        </span>
        <p>© 2021 Suchith Sridhar. All rights reserved.</p>
    </div>
</footer>
